{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-3xl">About</h1>

    <div class="space-y-6">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, officiis nam officia soluta quod repudiandae quo magni ipsa eligendi nemo. Porro error praesentium illum dolores pariatur, illo dolorem rerum placeat?
        </p>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, officiis nam officia soluta quod repudiandae quo magni ipsa eligendi nemo. Porro error praesentium illum dolores pariatur, illo dolorem rerum placeat?
        </p>
    <div>
{% endblock %}
